

nav{

  padding: 65px;

}

nav, .logo{

height: 2px;
width: 1px;

.texto{
  color: black
}
}
.titulos{
  color: white;
}
#container{
  left: auto;
  background: black;
  color: black;
}
.imagen {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  background: #aaa;
}
.carousel-item img {
  opacity: 0.7; /* Ajusta la opacidad como desees */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  color: white; /* Color de las letras en blanco */
  padding: 10px; /* Espaciado interior */
  border-radius: 10px; /* Bordes redondeados */
}
/* Estilos personalizados */
.btn-purple {
  background-color: #800080; /* Color morado personalizado */
  color: white; /* Texto en blanco para mayor contraste */
  border-color: #800080; /* Borde del mismo color */
}

.btn-purple:hover {
  background-color: #6a006a; /* Cambia el color en el hover */
  border-color: #6a006a; /* Cambia el borde en el hover */
}
.contenedor-curvo {
  background-color: #f0f0f0;
  border-radius: 20px; /* Este valor define el radio de curvatura */
}
/* Define tus colores personalizados */
.bg-mi-color {
  background-color: #D6DBDF; /* Aquí puedes usar cualquier código de color hexadecimal o nombre de color */
}

.bg-otro-color {
  background-color: #2ECC71;
}
