nav{

    padding: 65px;

}

nav, .logo{

 height: 2px;
 width: 1px;

}
.titulos{
    color: yellow;
}
#container{
    left: auto;
    background: black;
    color: black;
}
.imagen {
    height: 200px;
    width: 200px;
    background: #aaa;
  }